<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pomodoro_Timer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Pomodoro_Timer.Properties.Settings>
            <setting name="pomodoroDuration" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="pomodoroBreak" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="pomodoroLongBreak" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="pomodoroLongBreakOccurance" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="workingSounds" serializeAs="String">
                <value>Mute</value>
            </setting>
            <setting name="alarmSounds" serializeAs="String">
                <value>NoneAlarm</value>
            </setting>
        </Pomodoro_Timer.Properties.Settings>
    </userSettings>
</configuration>